@import "../styles.css";

@keyframes marquee-forced {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-track {
  display: flex !important;
  width: max-content !important;
  animation: marquee-forced 30s linear infinite !important;
}

.marquee-track:hover {
  animation-play-state: paused;
}